#superior {
    display: flex;
    height: 8vmax;    /* alçària d'un 8% respecte l'alçària de la pantalla */
    justify-content: center;    /* centra els elements en la direcció de disposició */
    align-items: center;    /* centra els elements en la direcció perpendicular a la de disposició */
    font-size: 4vmax;    /* mida d'un 4% respecte l'alçària de la pantalla */
    color: white;    /* color del text */
    background-color: #950E17;    /* color de fons */
}
